.content{
	position: fixed;
	top: 40px;
	left: 0px;
	right: 0px;
	bottom:0px;
	padding: 10px;
}
.tongxuelu{
	position:absolute;
	top:10px;
	left:20px;
	right:20px;
	bottom:10px;
    background: rgb(155, 221, 239);
}

a{
	
}