* {
    transition: all 0.3s;
}


body {
    font-size: large;
    width: 100%;
    padding: 10px 5px;
    background: #eee;
    min-height: 700px;
    font-size: large;
}

div {
    display: inline;
}

ol, ul {
    margin: 0px;
    padding-left: 0px;
}

li {
    list-style: none;
}

button {
    display: inline;
    background: rgba(155, 221, 239, 0.33);
    padding: 2px 4px;
    border: solid 3px #0094ff;
    border-radius: 1%;
    min-height: 30px;
    min-width: 70px;
}

    button:hover {
        background: rgba(40, 233, 233, 0.84);
        padding: 3px 5px;
        border: solid 2px #0094cc;
    }



.navhead {
    position: fixed;
    height: 40px;
    left: 0px;
    right: 0px;
    top: 0px;
    background: #558;
}


.search {
    position: absolute;
    top: 10px;
    bottom: 10px;
    right: 150px;
    width: 150px;
    background: #ccc;
    font-size: medium;
    color:#666;
}

    .search:hover {
        width: 250px;
    }




.navcollect {
}

.navcollectbackground {
    position: fixed;
    left: -350px;
    top: 0px;
    height: 100%;
    width: 350px;
    background: #224;
}


.collect {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 40px;
    width: 50px;
    border: none;
    padding: 0px;
    background: rgb(155, 221, 239);
}


    .collect:hover {
        background: rgb(40, 233, 233);
    }

.unitchoice {
    position: absolute;
    top: 0px;
    left: -350px;
    width: 350px;
    background: #224;
}


.collect:focus + .unitchoice {
    left: 0px;
    width: 350px;
}

.unit {
    border: none;
    padding: 0px;
    margin: 0px;
    border-radius: 0%;
    height: 40px;
    color: white;
    width: 350px;
    font-size: large;
}

    .unit:hover {
        border: none;
    }



.classchoice {
    width: 350px;
}

    .classchoice:hover {
        display: block;
    }

.unit:focus + .classchoice {
    display: block;
}


.class {
    margin-left: 20px;
    right: 0px;
    width: 300px;
    border: none;
    background: #224;
    color: white;
    font-size: large;
    padding: 0px 0px;
}

    .class:hover {
        padding: 0px 0px;
        border: none;
    }


.explainbottom {
    position: fixed;
    left: 400px;
    right: 0px;
    bottom: -80px;
    height: 70px;
    border: solid 5px;
    border-color: cadetblue;
    background: #eef;
    padding: 0px;
    font-size: small;
}

    .explainbottom p {
        margin: 0;
    }
