* {
    transition: all 0.3s;
}


body {
    font-size: large;
    width: 100%;
    padding: 10px 5px;
    background: #eee;
    min-height: 700px;
    font-size: large;
}

div {
    display: inline;
}

ol, ul {
    margin: 0px;
    padding-left: 0px;
}

li {
    list-style: none;
}

input {
    min-width: 10px;
}

button {
    display: inline;
    background: rgba(155, 221, 239, 0.33);
    padding: 2px 4px;
    border: solid 3px #0094ff;
    border-radius: 1%;
    min-height: 30px;
    min-width: 70px;
}

    button:hover {
        background: rgba(40, 233, 233, 0.84);
        padding: 3px 5px;
        border: solid 2px #0094cc;
    }
