
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link type="text/css" href="~/Models/header.css" />
    <link type="text/css" href="~/Models/basic.css" />
    <meta name="viewport" content="width=device-width" />
    <title>header</title>
</head>
<body>
    <div id="navhead" class="navhead">
        <div class="search">
            <input type="text" class="inputText" value="搜索" />
            <input type="button" class="submit" value="搜" />
        </div>
        <div class="user">
            <div class="notification">通知</div>
            <div class="menu">=</div>
            <div class="head">
                @*<img />*@
                sign in   sign up▽
            </div>
        </div>
    </div>
</body>
</html>
